$bg:#ccc;
body 
{
	background:$bg;
	color:green;
}

.disable 
{
	color:red;
}

.able 
{
	color:yellow;
}

table 
{
	width: 100%;
	border-collapse: collapse;
	thead 
	{
		td 
		{
			font-size: bold;
			position: relative;
			
		}
	}
	td 
	{
		border:1px solid #333;
		text-align: center;
	}
}

.up{
	position: absolute;
	top: 2px;
	right: 0;
	width: 0;
	height: 0;
	border: 20px transparent solid;
	border-top-color: #000;
}

.down{
	position: absolute;
	top: -3px;
	right: 0;
	width: 0;
	height: 0;
	border: 5px transparent solid;
	border-bottom-color: #000;
}